template
space
ws
single_quote
double_quote
open_interpolation
close_interpolation
open_tag
close_tag
nil
true
false
alpha
alpha_num
digit
non_zero_digit
interpolation
tag
text
expression
filter
parameters
not_close_tag
assign
if_
for_
if_tag
elsif_tag
else_tag
endif_tag
for_tag
endfor_tag
value
name
variable
method
integer
float
single_quoted_string
double_quoted_string
string
key
boolean
key_value
array
short_array
hash
short_hash
